.app {
  margin: 6px 40px 0;
}

main {
  padding-bottom: 40px;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 0px;
  width: 40px;
  height: 40px;
  color: var(--color-green);
  text-align: center;
  cursor: pointer;
  transition: all .5s ease-out;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.back-to-top i {
  font-size: 24px;
  line-height: 40px;
  transform: rotateZ(-90deg);
}

.back-to-top:hover {
  background-color: var(--color-green);
  color: white;
}

.progress-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  z-index: 9999;
}

.progress-bar div {
  flex: 1;
}

article img {
  width: 100%;
  max-width: 800px;
}
article pre code {
  display: block;
  color: #ddd;
  overflow-x: auto;
  padding: 0.5em;
  background: #444;
  white-space: pre-wrap;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main {
    padding-left: 300px;
  }
  .sidebar {
    width: 300px;
    position: fixed;
    left: 40px;
    top: 6px;
    bottom: 0;
  }
}